{% extends "LFGCore/base.html" %}

{% block header %}
<title>About LFG</title>
{% endblock header %}

{% block content %}
<div style="padding-left:16px">
	<h1 style="text-align: center;">About Us</h1>
	<hr />

	<p>
	Looking For Group (LFG) was conceived in 2020 by 6 students studying at Drexel University. We aim to help people with LFG by helping them connect with potential friends, or project creators to help them accomplish any kind of task. Whether it be creating a new website, or provide help in home renovations, LFG is here to help.   
	</p>
	
</div>

{% endblock content %}