{% extends logged_in|yesno:"LFGCore/top.html,LFGCore/notloggedtop.html" %}

{% block header %}
<title>Welcome to LFG!</title>
{% endblock header %}

{% block content %}

<style>
  body {
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
  }

  #searchBarWrap {
    display: flex;
    justify-content: center;
  }

  #searchBarWrap {
    display: flex;
    justify-content: center;
  }


  #searchBar {
    border: #BA4A00 solid;
    border-width: .2em;
    border-radius: .7em 0 0 .7em;
    padding: .2em .2em .2em .5em;
    width: 225px;
  }

  #searchBtn {
    border: #BA4A00 solid;
    border-width: .2em;
    border-radius: 0 .7em .7em 0;
    background-color: #BA4A00;
    color: white;
    font-weight: bold;
    padding-bottom: .2em;

  }

  .hero {

    
    background-image: url('/static/top/logo.svg');
    opacity: 0.5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: left;
}

.hero{

  opacity: 0.5;
  text-align: left;

}

input{

  width: 100%;
}

.hero p{
    opacity: 1;
  
}


</style>


<div class="hero" style="height: 600px;">
<h1 style="text-align: center;">Welcome to LFG!</h1>


<p style="text-align: center;">Please log in, create an account or search for a user or Project here.</p>



<div id="searchBarWrap" >
  
  <form action="/search" style="opacity: 0.7; width: 100%; padding: 5px;">
    <input type="text" id="SearchBar" name="query" placeholder="Search for Position Title or User"
      value="{{ original_query }}"> <br>
    <button style="margin-top: 10px;" type="submit">Search</i></button>
  </form>
</div>
</div>
{% endblock content %}