<!DOCTYPE html>
<html>

<head>
  <title>Welcome to LFG!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/top/main.css">
</head>

<body>


  <div class="topnav">
    <div class="logo"> <img src="/static/top/logo.svg" alt="Logo" width="150" height="150" /></div>
    <a href="/accounts/create">Create Account</a>
    <a href="/accounts/login">Log In</a>
  </div>
  </div>
  <h1 style="text-align: center;">Test</h1>
  <style>
    body {
      background-image: url('../top/logo.svg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
  </style>

</body>

</html>