<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/top/main.html">
</head>

<body>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/top/main.html">

  <div class="topnav">
    <div class="logo"> <img src="/static/top/logo.svg" alt="Logo" width="150" height="150" /></div>
    <a href="/accounts/create">Create Account</a>
    <a href="/login">Log In</a>
  </div>
  </div>
</body>



</html>