{% extends logged_in|yesno:"LFGCore/top.html,LFGCore/notloggedtop.html" %}

{% block header %}
<title>Profile</title>
{% endblock header %}

{% block content %}


<div class="card">
  <img src="image_defaultProfile.jpg" alt="Username" style="width:100%">
  <h2>{{ user.username }}</h2>
  
  <h2>Project Memberships:</h2>

  <ul>
    {% for member in members %}
    <li>{{ member.profile.user.username }}</li>
    <li>Roles:
      <ul>
        {% for role in member.roles %}
        <li>{{ role.title }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>

  <h2>Active Applications:</h2>
  <ul>
    {% for role in user.profile.applications.all %}
      <li>{{ role.title }}, {{ role.project.name }}</li>
    {% endfor %}
  </ul>

</div>
{% endblock content %}