{% extends "LFGCore/base.html" %}

{% block header %}
<title>Profile</title>
{% endblock header %}

{% block content %}


<div class="card">
  <img src="image_defaultProfile.jpg" alt="Username" style="width:100%">
  <h2>Username: {{ user.username }}</h2>
  <h3>Name: {{ user.first_name }} {{ user.last_name }} Email: {{ user.email }}</h3>

  <h3>Bio:</h3>
  <p>
    {{ user.profile.bio }}
  </p>

  <p>Phone: {{ user.profile.telephone_number }}</p>

  <h2>Projects:</h2>

  <ul>
    {% for member in memberships %}
    <li>
      <a href="/project/{{ member.project.id }}/">{{ member.project.name }}</a>
        {% if member.roles.all %}
        , {{ member.roles.all.0.title }}
        {% endif %}
        <form action="/membership/quit/{{ member.id }}/" method="post">
          {% csrf_token %}
          <button type="submit">Leave Project</button>
        </form>
      </li>
      {% endfor %}
  </ul>

  <h2>Active Applications:</h2>
  <ul>
    {% for application in user.profile.application_set.all %}
    <li>
      {{ application.role.title }}, {{ application.role.project.name }}: {{ application.get_status_display }}
      {% if application.status == 'O' %}
      <form action="/project/acceptoffer/{{ application.id }}/" method="post">
        {% csrf_token %}
        <button type="submit">Accept Offer</button>
      </form>
      <form action="/application/updatestatus/{{ application.id }}/" method="post">
        {% csrf_token %}
        <input type="hidden" name="newstatus" value="D">
        <button type="submit">Decline Offer</button>
      </form>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <h2>Skillset:</h2>
  <ul>
    {% for skill, time in skillset %}
    <li>{{ skill }}, {{ time }}</li>
    {% endfor %}
  </ul>
  <center>
    <form action="/accounts/profile/update/">
      <input type="submit" value="Update Profile" />
    </form>

  </center>
</div>
{% endblock content %}