{% extends "LFGCore/top.html" %}

{% block header %}
<title>Project</title>
{% endblock header %}

{% block content %}

<h1 style="text-align: center;">{{ project.name }}</h1>


<h1>Description</h1>
{{ project.description }}

<h2>Members</h2>
<ul>
  {% for member in project.member_set.all %}
  <li>
    {{ member.profile.user.username }}: {{ member.roles.all|join:", " }}
  {% endfor %}
</ul>
{% if is_owner %}
<h2>Applications</h2>
<ul>
  {% for role in project.role_set.all %}
    <li>
      {{ role.title }}
      <ul>
        {% for application in role.application_set.all %}
          <li>
            {{ application.applicant.user.username }}, {{ application.get_status_display }}
            {% if application.status == 'A' %}
              <form action="/application/updatestatus/{{ application.id }}/" method="post">
                {% csrf_token %}
                <input type="hidden" name="newstatus" value="O">
                <button type="submit">Extend Offer</button>
              </form>
              <form action="/application/updatestatus/{{ application.id }}/" method="post">
                {% csrf_token %}
                <input type="hidden" name="newstatus" value="R">
                <button type="submit">Reject Application</button>
              </form>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>

<h3>Add New Project Role</h3>
<form action="/role/create/" method='post'>
  {% csrf_token %}
  {{ role_form.as_p }}
  <button type="submit">Add Role</button>
</form>
{% endif %}
<h3>Roles:</h3>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Required Skills</th>
  </tr>
  {% for role in project.role_set.all %}
  <tr>
    <td style='border: 1px solid black; padding: 5px'>{{ role.title }}</td>
    <td style='border: 1px solid black; padding: 5px'>{{ role.description }}</td>
    <td style='border: 1px solid black; padding: 5px'>{{ role.skills.all|join:", " }}</td>
    <td>
      {% if role not in user.profile.applications.all and role not in membership.roles.all %}
        <form action="/role/apply/{{ role.id }}/" method="post">
          {% csrf_token %}
          <input type="hidden" name="query" value="{{ original_query }}">
          <button type="submit">Apply to this role</button>
        </form>
      {% endif %}
    </td>
    <td>
      {% if is_owner %}
      <form action="/role/delete/", method='post'>
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ role.id }}">
        <button type="submit">Delete Role</button>
      </form>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>


{% endblock content %}