{% extends "LFGCore/top.html" %}

{% block header %}
<title>Project</title>
{% endblock header %}

{% block content %}

<h1 style="text-align: center;">{{ project.name }}</h1>


<h1>Description</h1>
{{ project.description }}

<h2>Members</h2>
<ul>
  {% for member in members %}
  <li>{{ member.profile.user.username }}</li>
  <li>Roles:
    <ul>
      {% for role in member.roles %}
      <li>{{ role.title }}</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
<h3>Add New Project Role</h3>
<form action="/role/create" method='post'>
  {% csrf_token %}
  {{ role_form.as_p }}
  <button type="submit">Add Role</button>
</form>

<h3>Roles:</h3>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Required Skills</th>
  </tr>
  {% for role in project.role_set.all %}
  <tr>
    <td style='border: 1px solid black; padding: 5px'>{{ role.title }}</td>
    <td style='border: 1px solid black; padding: 5px'>{{ role.description }}</td>
    <td style='border: 1px solid black; padding: 5px'>
      {% for skill in role.skills.all %}
        {{ skill }},
      {% endfor %}
    </td>
    <td>
      <form action="/role/delete", method='post'>
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ role.id }}">
        <button type="submit">Delete Role</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>


{% endblock content %}