{% extends "LFGCore/top.html" %}

{% block header %}
<title>Begin Your Search Here!</title>
{% endblock header %}

{% block content %}
<h1>Search</h1>
<form action="/search">
  <input type="text" id="SearchBar" name="query" placeholder="Position Title" value="{{ original_query }}"> <br>
  <input type="submit" value="Search">
</form>

<table>
  <tr>
    <td>Name</td>
    <td>Description</td>
  </tr>
  {% for project in search_results %}
    <tr>
      <th>{{ project.name }}</th>
      <th>{{ project.description }}</th>
    </tr>
  {% endfor %}
</table>

{% endblock content %}