{% extends "LFGCore/top.html" %}

{% block header %}
<title>Begin Your Search Here!</title>
{% endblock header %}

{% block content %}
<h1>Search</h1>
<form action="/search">
  <input type="text" id="SearchBar" name="query" placeholder="Position Title" value="{{ original_query }}"> <br>
  <input type="submit" value="Search">
</form>

<table>
  <tr>
    <td>Name</td>
    <td>Description</td>
    <td>Roles</td>
  </tr>
  {% for project in search_results %}
    <tr>
      <th><a href="/project/{{ project.id }}">{{ project.name }}</a></th>
      <th>{{ project.description }}</th>
      <th>
        <table>
          <tr>
            {% for role in project.role_set.all %}
              <td>{{ role.title }}</td>
            {% endfor %}
          </tr>
          <tr>
            {% for role in project.role_set.all %}
              <td><form action="/role/apply/{{ role.id }}" method="post">
                <input type="hidden" name="query" value="{{ original_query }}">
                <button type="submit">Apply to this role</button>
              </form></td>
            {% endfor %}
          </tr>
        </table>
      </th>
    </tr>
    
  {% endfor %}
</table>

{% endblock content %}