{% extends "LFGCore/base.html" %}

{% block header %}
<title>Begin Your Search Here!</title>
{% endblock header %}

{% block content %}
<h1>Search</h1>
<form action="/search">
  <input type="text" id="SearchBar" name="query" placeholder="Position Title" value="{{ original_query }}"><button type="submit" class="btn btn-primary">Search</button>
  <!-- <input class="btn btn-primary" type="submit" value="Search"> -->
</form>
<a href="/advanced/"><button class="btn btn-primary">Advanced Search</button></a>
<table>
  <tr>
    <td>Name</td>
    <td>Description</td>
    <td>Roles</td>
  </tr>
  {% for project, roles in search_results_project %}
    <tr> 
      <th><a href="/project/{{ project.id }}/">{{ project.name }}</a></th>
      <th>{{ project.description }}</th>
      <th>
      <table>
        <tr>
          {% for role, is_applicable in roles %}
            <td>{{ role.title }}</td>
          {% endfor %}
        </tr>
        <tr>
          {% for role, is_applicable in roles %}
          <td>
            {% if is_applicable %}
              <form action="/role/apply/{{ role.id }}/" method="post">
          
                {% csrf_token %}
                <input type="hidden" name="redirect" value="/search/?query={{ original_query }}">
                <button class="button" type="submit">Apply to this role</button>
              </form>
            {% endif %}
          </td>
          {% endfor %}
        </tr>
      </table>
      </th>
    </tr>
  {% empty %}
    <th>Sorry, no project results were found.</th>
  {% endfor %}
</table>
<table>
  <tr>
    <td>Username</td>
    <td>First Name</td>
    <td>Last Name</td>
  </tr>
  {% for user in search_results_user %}
  <tr>
    <th><a href="/accounts/profile/{{ user.id }}/">{{ user.username }}</a></th>
    <th>{{ user.first_name }}</th>
    <th>{{ user.last_name }}</th>
    <th>
      {% empty %}
    <th>Sorry, no user results were found.</th>
    </th>


  </tr>
</table>

</tr>

{% endfor %}
</table>

{% endblock content %}