<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/top/top.css">
  {% block header %}{% endblock header %}
</head>

<body>


  <div class="topnav">
    <div class="logo"><a href="/home"><img src="/static/top/logo.svg" alt="Logo" width="150" height="150" /></a></div>
    <a class="active" href="/accounts/profile">My Profile</a>
    <a href="/createproject">Create a Project</a>
    <a href="/logout">Logout</a>
    <div class="search-container">
      <form action="/search>
        <input type=" text" placeholder="Search.." name="search">
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  {% block content %}{% endblock content %}
</body>



</html>